
.deple{
    margin-left: 60px;
    margin-top: 40px;
}


.ba{
    background-color: blue;
    font-style: normal;
    color: white;
    width: 400px;
    height: 40px;
}

.dis{
    background-color: blue;
    border: 0px;
    color: white;
}
.vo{
    background-color: blue;
    border: 0px;
    color: white;
    margin-left: 80px;
    margin-top: 7px;
}
.input,button{
    margin-top: 15px;
}
.button,div{
    margin-top: 15px;
}
#vec{
    height: 30px;
    border-radius: 3px;
    
}
.input,p{
    margin-top: 3px;
}


.re{
    margin-left: 40px;
    width: 310px;

}
